.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid var #898989;
    outline: 2px solid var #898989;
}

.enviar {
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem;
}