.item-count{
    display: flex;
    align-items: center;
    gap:1rem;
    margin: 13px;
}

.item-count button{
    background-color: #556af5;
    border: 0;
    width: 2rem;
    height: 2rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid #556af5;
    transition: 0.2s;
}

.item-count button:hover{
    background-color: #fff;
    color: #556af5;
    border: 2px solid #556af5;
}

.item-count p{
    margin: 0;
}